*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: #FEFBF6;
}

h1{
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 3pt;
    color: #FEFBF6;
    text-align: center;
    background-color: #ECB159;
}

h2{
    background-color: #8CB9BD;;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: whitesmoke;
}

p{
    text-align: justify;


}

button{
    height: 30px;
    border: 0pt;
    border-radius: 20px;
    background-color: #ECB159;
    color: #FEFBF6;
    font-weight: bold;
}

footer{
    font-weight:350 ;
    background-color: #8CB9BD;
    color: #FEFBF6;
    text-align: center;
    padding: 10px;
}

