*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

h1{
    background-color:steelblue;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: whitesmoke;
}

h2{
    background-color:steelblue;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: whitesmoke;
}

p{
    text-align: justify;
}
